@import './palette.css';

.grid-break {
    position: relative;
    width: 80%;
    height: 67%;
    border: 1px solid var(--gris);
}

.block {
    width: 22%;
    height: 8%;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
}

.blockGamer {
    width: 30%;
    height: 7%;
    padding: 5px;
    text-align: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.ballGame {
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    bottom: 8%;
    border: 3px solid rgb(173, 173, 173);
    border-left: 3px solid rgb(222, 222, 222);
    animation: spin 1s linear infinite;
    left: 50%;
    z-index: 9;
    background-color: rgba(18, 18, 18, 0.719);
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1200px) {
    .block {
        width: 23%;
    }
    .blockGamer {
        /* width: 25%; */
    }
}